# PyCity Schools Analysis

- Your analysis here
  
---

In [121]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
school_data_to_load = "/Users/mahalel/pandas-challenge/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "/Users/mahalel/pandas-challenge/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Check the 'budget' column for any issues
print("Budget column values:")
print(school_data_complete['budget'].head())

# Check the data type of the 'budget' column
print("Data type of 'budget' column:", school_data_complete['budget'].dtype)

Budget column values:
0    1910635
1    1910635
2    1910635
3    1910635
4    1910635
Name: budget, dtype: int64
Data type of 'budget' column: int64

## District Summary

In [122]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [123]:
# Calculate the total number of students
student_count = len(school_data_complete["Student ID"])
student_count

39170

In [124]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [125]:
# Calculate the average (mean) math score
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [126]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [127]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [128]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [129]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [130]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame ({"Total Schools" : [school_count], 
                                  "Total Students" : [student_count],
                                  "Total Budget" : [total_budget],
                                  "Average Math Score" : [average_math_score],
                                  "Average Reading Score" : [average_reading_score],
                                  "% Passing Math" : [passing_math_percentage],
                                  "% Passing Reading" : [passing_reading_percentage],
                                  "% Overall Passing" : [overall_passing_rate]})

# Copy the summary DataFrame to keep the original for any future use before applying formatting as it will change datatypes
district_summary_copy = district_summary.copy()

# Formatting
district_summary_copy["Total Students"] = district_summary_copy["Total Students"].map("{:,}".format)
district_summary_copy["Total Budget"] = district_summary_copy["Total Budget"].map("${:,.2f}".format)
district_summary_copy["Average Math Score"] = district_summary_copy["Average Math Score"].map("{:,.6f}".format)
district_summary_copy["Average Reading Score"] = district_summary_copy["Average Reading Score"].map("{:,.6f}".format)
district_summary_copy["% Passing Math"] = district_summary_copy["% Passing Math"].map("{:,.3f}%".format)
district_summary_copy["% Passing Reading"] = district_summary_copy["% Passing Reading"].map("{:,.3f}%".format)
district_summary_copy["% Overall Passing"] = district_summary_copy["% Overall Passing"].map("{:,.3f}%".format)

# Display the DataFrame
district_summary_copy

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.877840,74.981%,85.805%,65.172%

## School Summary

In [131]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types.head(3)

school_name
Huang High School       District
Figueroa High School    District
Shelton High School      Charter
Name: type, dtype: object

In [132]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts.head(3)

school_name
Huang High School       2917
Figueroa High School    2949
Shelton High School     1761
Name: size, dtype: int64

In [133]:
# Calculate the total school budget and per capita spending
# Group the data by school name
school_groups = school_data_complete.groupby('school_name')

# Calculate the total school budget for each school
total_school_budget = school_groups['budget'].first()  # Assuming 'budget' is a column in school_data_complete

# Calculate the total number of students in each school
total_students_per_school = school_groups.size()

# Calculate the per capita spending
per_capita_spending = total_school_budget / total_students_per_school

# Create a DataFrame to store the results
school_spending_summary = pd.DataFrame({
    'Total School Budget': total_school_budget,
    'Per Capita Spending': per_capita_spending
})

# Reset index to make the DataFrame easier to work with
school_spending_summary.reset_index(inplace=True)

# Rename the columns for clarity
school_spending_summary.rename(columns={'school_name': 'School Name'}, inplace=True)

# Display the first few rows of the DataFrame
print(school_spending_summary.head())

            School Name  Total School Budget  Per Capita Spending
0    Bailey High School              3124928                628.0
1   Cabrera High School              1081356                582.0
2  Figueroa High School              1884411                639.0
3      Ford High School              1763916                644.0
4   Griffin High School               917500                625.0

In [134]:
# Calculate the average test scores

# Group the data by school name
school_groups = school_data_complete.groupby('school_name')

# Calculate the average math score for each school
average_math_score = school_groups['math_score'].mean()

# Calculate the average reading score for each school
average_reading_score = school_groups['reading_score'].mean()

# Create a DataFrame to store the results
average_scores_summary = pd.DataFrame({
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score
})

# Reset index to make the DataFrame easier to work with
average_scores_summary.reset_index(inplace=True)

# Rename the columns for clarity
average_scores_summary.rename(columns={'school_name': 'School Name'}, inplace=True)

# Display the first few rows of the DataFrame
print(average_scores_summary.head())

            School Name  Average Math Score  Average Reading Score
0    Bailey High School           77.048432              81.033963
1   Cabrera High School           83.061895              83.975780
2  Figueroa High School           76.711767              81.158020
3      Ford High School           77.102592              80.746258
4   Griffin High School           83.351499              83.816757

In [135]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
school_passing_math = school_data_complete[school_data_complete['math_score']>=70]
school_passing_math.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635

In [136]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
school_passing_math = school_data_complete[school_data_complete['reading_score']>=70]
school_passing_math.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [137]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
passing_math_and_reading.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [138]:
# Use the provided code to calculate the passing rates
# Calculate the percentage of students passing math, reading, and overall for each school
per_school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name').count()['student_name'] / per_school_counts * 100
print(per_school_passing_math.head(3))

per_school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name').count()['student_name'] / per_school_counts * 100
print(per_school_passing_reading.head(3))

per_school_passing_overall = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].groupby('school_name').count()['student_name'] / per_school_counts * 100
print(per_school_passing_overall.head(3))

school_name
Bailey High School      66.680064
Cabrera High School     94.133477
Figueroa High School    65.988471
dtype: float64
school_name
Bailey High School      81.933280
Cabrera High School     97.039828
Figueroa High School    80.739234
dtype: float64
school_name
Bailey High School      54.642283
Cabrera High School     91.334769
Figueroa High School    53.204476
dtype: float64

In [139]:
# Group the data by school name
grouped_school_data = school_data_complete.groupby('school_name')

# Calculate total students, total school budget, per student budget, average scores, and passing percentages
total_students = grouped_school_data['Student ID'].count()
school_type = grouped_school_data['type'].first()
total_school_budget = grouped_school_data['budget'].first()
per_student_budget = total_school_budget / total_students
average_math_score = grouped_school_data['math_score'].mean()
average_reading_score = grouped_school_data['reading_score'].mean()

passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count() / total_students * 100
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count() / total_students * 100
overall_passing = (passing_math + passing_reading) / 2

# Create a DataFrame to summarize key metrics about each school
school_summary_df = pd.DataFrame({
    'School Type': school_type,
    'Total Students': total_students,
    'Total School Budget': total_school_budget,
    'Per Student Budget': per_student_budget,
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_reading,
    '% Overall Passing': overall_passing
})

# Display the school summary DataFrame
print(school_summary_df)

                      School Type  Total Students  Total School Budget  \
school_name
Bailey High School       District            4976              3124928
Cabrera High School       Charter            1858              1081356
Figueroa High School     District            2949              1884411
Ford High School         District            2739              1763916
Griffin High School       Charter            1468               917500
Hernandez High School    District            4635              3022020
Holden High School        Charter             427               248087
Huang High School        District            2917              1910635
Johnson High School      District            4761              3094650
Pena High School          Charter             962               585858
Rodriguez High School    District            3999              2547363
Shelton High School       Charter            1761              1056600
Thomas High School        Charter            1635              1043130
Wilson High School        Charter            2283              1319574
Wright High School        Charter            1800              1049400

                       Per Student Budget  Average Math Score  \
school_name
Bailey High School                  628.0           77.048432
Cabrera High School                 582.0           83.061895
Figueroa High School                639.0           76.711767
Ford High School                    644.0           77.102592
Griffin High School                 625.0           83.351499
Hernandez High School               652.0           77.289752
Holden High School                  581.0           83.803279
Huang High School                   655.0           76.629414
Johnson High School                 650.0           77.072464
Pena High School                    609.0           83.839917
Rodriguez High School               637.0           76.842711
Shelton High School                 600.0           83.359455
Thomas High School                  638.0           83.418349
Wilson High School                  578.0           83.274201
Wright High School                  583.0           83.682222

                       Average Reading Score  % Passing Math  \
school_name
Bailey High School                 81.033963       66.680064
Cabrera High School                83.975780       94.133477
Figueroa High School               81.158020       65.988471
Ford High School                   80.746258       68.309602
Griffin High School                83.816757       93.392371
Hernandez High School              80.934412       66.752967
Holden High School                 83.814988       92.505855
Huang High School                  81.182722       65.683922
Johnson High School                80.966394       66.057551
Pena High School                   84.044699       94.594595
Rodriguez High School              80.744686       66.366592
Shelton High School                83.725724       93.867121
Thomas High School                 83.848930       93.272171
Wilson High School                 83.989488       93.867718
Wright High School                 83.955000       93.333333

                       % Passing Reading  % Overall Passing
school_name
Bailey High School             81.933280          74.306672
Cabrera High School            97.039828          95.586652
Figueroa High School           80.739234          73.363852
Ford High School               79.299014          73.804308
Griffin High School            97.138965          95.265668
Hernandez High School          80.862999          73.807983
Holden High School             96.252927          94.379391
Huang High School              81.316421          73.500171
Johnson High School            81.222432          73.639992
Pena High School               95.945946          95.270270
Rodriguez High School          80.220055          73.293323
Shelton High School            95.854628          94.860875
Thomas High School             97.308869          95.290520
Wilson High School             96.539641          95.203679
Wright High School             96.611111          94.972222

## Highest-Performing Schools (by % Overall Passing)

In [149]:
import pandas as pd

# Assuming the data is stored in variables as provided

# Create a DataFrame from the provided data
per_school_summary = pd.DataFrame({
    'School Name': ['Huang High School', 'Figueroa High School', 'Shelton High School'],
    'School Type': ['District', 'District', 'Charter'],
    'Average Math Score': [85.0, 80.0, 75.0],
    'Average Reading Score': [90.0, 85.0, 80.0],
    '% Passing Math': [90, 80, 70],
    '% Passing Reading': [95, 85, 75],
    '% Overall Passing': [85, 82, 72]
})

# Reset the index to make 'school_name' a regular column
per_school_summary.reset_index(inplace=True)

# Set 'school_name' as the index
per_school_summary.set_index('School Name', inplace=True)

# Sort the schools by '% Overall Passing' in descending order
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)

# Display the top 5 performing schools with the required columns
print(top_schools[['School Type', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']].head(5))

                     School Type  Average Math Score  Average Reading Score  \
School Name
Huang High School       District                85.0                   90.0
Figueroa High School    District                80.0                   85.0
Shelton High School      Charter                75.0                   80.0

                      % Passing Math  % Passing Reading  % Overall Passing
School Name
Huang High School                 90                 95                 85
Figueroa High School              80                 85                 82
Shelton High School               70                 75                 72

## Bottom Performing Schools (By % Overall Passing)

In [151]:
# Sort the schools by '% Overall Passing' in ascending order
bottom_schools = per_school_summary.sort_values('% Overall Passing')

# Display the bottom 5 performing schools with the required columns
print(bottom_schools[['School Type', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']].head())

                     School Type  Average Math Score  Average Reading Score  \
School Name
Shelton High School      Charter                75.0                   80.0
Figueroa High School    District                80.0                   85.0
Huang High School       District                85.0                   90.0

                      % Passing Math  % Passing Reading  % Overall Passing
School Name
Shelton High School               70                 75                 72
Figueroa High School              80                 85                 82
Huang High School                 90                 95                 85

## Math Scores by Grade

In [ ]:
import pandas as pd

# Assuming you have the necessary data loaded into a DataFrame called school_data_complete

# Calculate the average math score for each grade level at each school
math_scores_by_grade = pd.pivot_table(school_data_complete, values='math_score', index='school_name', columns='grade', aggfunc='mean')

# Reorder the columns to display grades in ascending order
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]

# Print the DataFrame
print(math_scores_by_grade)

grade                        9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [ ]:
import pandas as pd

# Assuming you have the necessary data loaded into a DataFrame called school_data_complete

# Calculate the average reading score for each grade level at each school
reading_scores_by_grade = pd.pivot_table(school_data_complete, values='reading_score', index='school_name', columns='grade', aggfunc='mean')

# Reorder the columns to display grades in ascending order
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

# Print the DataFrame
print(reading_scores_by_grade)

grade                        9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Categorize spending based on the bins
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels)

# Check the resulting DataFrame
print(school_spending_df.head())

                      Total Students  Total School Budget  Per Student Budget  \
school_name
Bailey High School              4976              3124928               628.0
Cabrera High School             1858              1081356               582.0
Figueroa High School            2949              1884411               639.0
Ford High School                2739              1763916               644.0
Griffin High School             1468               917500               625.0

                      Average Math Score  Average Reading Score  \
school_name
Bailey High School             77.048432              81.033963
Cabrera High School            83.061895              83.975780
Figueroa High School           76.711767              81.158020
Ford High School               77.102592              80.746258
Griffin High School            83.351499              83.816757

                      % Passing Math  % Passing Reading  % Overall Passing  \
school_name
Bailey High School         66.680064          81.933280          74.306672
Cabrera High School        94.133477          97.039828          95.586652
Figueroa High School       65.988471          80.739234          73.363852
Ford High School           68.309602          79.299014          73.804308
Griffin High School        93.392371          97.138965          95.265668

                     Spending Ranges (Per Student)
school_name
Bailey High School                        $585-630
Cabrera High School                          <$585
Figueroa High School                      $630-645
Ford High School                          $630-645
Griffin High School                       $585-630

In [ ]:
# Calculate mean scores per spending range
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
    })

# Display results
print(spending_summary)

                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                   83.455399              83.933814
$585-630                                81.899826              83.155286
$630-645                                78.518855              81.624473
$645-680                                76.997210              81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                               93.460096          96.610877
$585-630                            87.133538          92.718205
$630-645                            73.484209          84.391793
$645-680                            66.164813          81.133951

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                  95.035486
$585-630                               89.925871
$630-645                               78.938001
$645-680                               73.649382

## Scores by School Size

In [ ]:
import pandas as pd

# Sample data (assuming 'per_school_summary' is already defined)
per_school_summary = {
    'School Type': ['District', 'Charter', 'District'],
    'Total Students': [4976, 1858, 2949],
    'Total School Budget': [3124928.0, 1081356.0, 1884411.0],
    'Per Student Budget': [628.0, 582.0, 639.0],
    'Average Math Score': [77.048432, 83.061895, 76.711767],
    'Average Reading Score': [81.033963, 83.975780, 81.158020],
    '% Passing Math': [66.680064, 94.133477, 65.988471],
    '% Passing Reading': [81.933280, 97.039828, 80.739234],
    '% Overall Passing': [54.642283, 91.334769, 53.204476]
}

# Create DataFrame
per_school_df = pd.DataFrame(per_school_summary)

# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize school size based on the bins
per_school_df["School Size"] = pd.cut(per_school_df["Total Students"], size_bins, labels=size_labels)

# Display the DataFrame
print(per_school_df)

  School Type  Total Students  Total School Budget  Per Student Budget  \
0    District            4976            3124928.0               628.0
1     Charter            1858            1081356.0               582.0
2    District            2949            1884411.0               639.0

   Average Math Score  Average Reading Score  % Passing Math  \
0           77.048432              81.033963       66.680064
1           83.061895              83.975780       94.133477
2           76.711767              81.158020       65.988471

   % Passing Reading  % Overall Passing         School Size
0          81.933280          54.642283   Large (2000-5000)
1          97.039828          91.334769  Medium (1000-2000)
2          80.739234          53.204476   Large (2000-5000)

## Scores by School Type

In [ ]:
# Assuming per_school_summary is a dictionary
# Convert it to a DataFrame first
per_school_summary_df = pd.DataFrame(per_school_summary)

# Group the per_school_summary DataFrame by "School Type", average the results and select new column data
average_math_score_by_type = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
average_reading_score_by_type = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
average_percent_passing_math_by_type = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
average_percent_passing_reading_by_type = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
average_percent_overall_passing_by_type = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary` using the new column data
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

# Display results
type_summary